
// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: rgb(51, 86, 239);

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: 5px dotted #ccc;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.App {
  color: rgb(0, 0, 255);
  text-shadow: 1px 1px 2px rgb(249, 86, 86), 0 0 1em rgb(176, 74, 74), 0 0 0.2em blue;
}

body {  
  background-color: bisque;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
}

.cheeses {
  margin: 0 auto;
}

.navFooter {
  display: block;
  flex-direction: column;
  padding: 0.002rem;
}

.icon {
  display: flex;
  // flex-direction: row;
  justify-content: right;
  // align-items: end;
}